<div class="container-fluid p-5">
    <div class="card container" style="width:100%">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img src="C:/Users/SURFACE/Desktop/img/Ang.jpg" style="width: 180px; height: 170px;">
                </div>
                <div class="col-9">
                    <div>
                        <h1 class="text-center">Stundent Name</h1>
                    </div>
                    <div class="text-center mt-5">
                        <h3>Few content about student</h3>
                    </div>
                </div>
                <div class="col-1">
                    <div class="text-right">
                        <input type="checkbox" width="40px" height="40px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
